.job_ex_mobile {
    display: none;
}

@media (max-width: 991px) {
    .job_ex_desktop {
        display: none;
    }
    .job_ex_mobile {
        display: table;
    }

    
}


@media (max-width: 768px) {
    .job_ex_desktop {
        display: none;
    }
    .job_ex_mobile {
        display: table;
    }

    
}