.card.highlight{
  background-color: #ff9900;
  color: white;
}

.work .card a{
  color: inherit;
}

.work .card .collapse ,.work .card .collapsing{
  background-color: white;
  color: black;
}

.card.highlight a{
  color: inherit;
}
.job_ex_mobile {
    display: none;
}

@media (max-width: 991px) {
    .job_ex_desktop {
        display: none;
    }
    .job_ex_mobile {
        display: table;
    }


}


@media (max-width: 768px) {
    .job_ex_desktop {
        display: none;
    }
    .job_ex_mobile {
        display: table;
    }


}
